/VehicleAuctionServerInterface/nbproject/private/
/VehicleAuctionServer/VehicleAuctionServer-ejb/nbproject/private/
/VehicleAuctionServerRemoteInterface/nbproject/private/
/VehicleAuctionServer/VehicleAuctionServer-war/nbproject/private/
/VehicleAuctionClient/nbproject/private/
/VehicleAuctionServer/VehicleAuctionServer-ejb/build/
/VehicleAuctionServerRemoteInterface/dist/
/VehicleAuctionServerRemoteInterface/build/
/VehicleAuctionServer/build/
/VehicleAuctionClient/dist/
/VehicleAuctionClient/build/
/VehicleAuctionServer/VehicleAuctionServer-war/build/
/VehicleAuctionServer/VehicleAuctionServer-ejb/dist/
/VehicleAuctionServer/VehicleAuctionServer-war/dist/
/Backup/CertificationManagementSystem/nbproject/private/
/Backup/CertificationManagementSystem/CertificationManagementSystem-ejb/nbproject/private/
/Backup/CertificationManagementServer/nbproject/private/
/Backup/CertificationManagementServer/CertificationManagementServer-ejb/nbproject/private/
/Backup/CertificationManagementClient/nbproject/private/
/Backup/CertificationManagementServer/CertificationManagementServer-ejb/build/
/Backup/CertificationManagementServer/build/
/Backup/CertificationManagementServer/CertificationManagementServer-ejb/dist/
/Backup/CertificationManagementClient/dist/
/Backup/CertificationManagementClient/build/